features/current_difficulties.json
features/all-CIPI.json
*.db
gaps_v1/
gaps_v1.zip
DadaGP-v1.1/
dada_gp.zip
**/__pycache__/
.venv/
*.ckpt
lightning_logs/
wandb/
datasets/
pdf-20260524T103936Z-3-001/
symbolic_data/
verified_pieces/
verified_pieces_copy/
verified_pieces_copy_2/
midi-20260630T194726Z-3-001/